@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-style: normal;
    @apply bg-emerald-50 text-neutral-800 scroll-smooth
}

.scrollbar-none::-webkit-scrollbar{
    display: none;
}

.scrollbarCustom::-webkit-scrollbar{
    width: 10px;
    @apply bg-slate-100
}
.scrollbarCustom::-webkit-scrollbar-thumb{
    @apply bg-emerald-200 rounded-full
}